bc-pulscen-main/n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        272
      ],
      "id": "f352e7d7-c281-46e9-b4d9-c33bd89b7539",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://0dfd91a7db0b.ngrok-free.app/collect_offers",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.originalRows[0][\"Наименование строительного ресурса\"] }}\",\n  \"code\": \"{{ $json.originalRows[0][\"Код строительного ресурса\"] }}\",\n  \"weight\": \"{{ $json.originalRows[0][\"Единица измерения\"] }}\",\n  \"number\": \"{{ $json.originalRows[0].uniqueIndex }}\",\n  \"city\": \"{{ $json.originalRows[0][\"Ценовая зона\"] }}\",\n  \"monitor\": \"{{ $json.originalRows[0][\"Мониторинг проводил\"] }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        608
      ],
      "id": "68bc8678-5b04-4082-ad69-79422a2dd943",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20f49b71-d222-4f5e-92bc-0edaf23ea9aa",
              "leftValue": "={{ $json[\"Код строительного ресурса\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "af83ecfd-7bf7-43e0-94d8-948a47f5ee3d",
              "leftValue": "={{ $json[\"Наименование строительного ресурса\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9ca759cb-be4f-4485-a4ac-23fd99171518",
              "leftValue": "={{ $json['ИНН поставщика/ производителя'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -48,
        592
      ],
      "id": "04e31815-76b9-4da6-af20-d8059378c9b5",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        592
      ],
      "id": "74bfbb35-7c91-491d-88d1-26b40abce754",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        608
      ],
      "id": "fd658d12-93ec-4bae-9f73-5eb342609de6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const startIndex = parseInt($input.first().json.results[0]['Индекс'], 10);\n\nitems[0].json.results = items[0].json.results.map((item, idx) => ({\n  ...item,\n  Индекс: String(startIndex + idx)\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        608
      ],
      "id": "799cafdd-aee5-47f1-a6f4-10333059b5dc",
      "name": "Code4"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        608
      ],
      "id": "ead78ad3-d468-448b-b8a1-ca8bbb04c9f6",
      "name": "Wait",
      "webhookId": "b22a1dde-43e2-49e2-80b1-8639d658e832"
    },
    {
      "parameters": {
        "jsCode": "// Получаем стартовый индекс из поля \"№ п/п\" первого входного элемента\nconst startIndex = parseInt($input.first().json[\"№ п/п\"], 10) || 1;\n\nconst grouped = [];\n\nfor (let i = 0; i < items.length; i += 3) {\n  const group = items.slice(i, i + 3).map((item, idx) => ({\n    ...item.json,\n    uniqueIndex: startIndex + i + idx // начинаем с \"№ п/п\"\n  }));\n\n  grouped.push({ json: { groupId: `group_${i}-${i + 3}`, originalRows: group } });\n}\n\n// Обновлённый индекс для последующего использования\nconst newLastIndex = startIndex + items.length;\nreturn [...grouped, { json: { LastIndex: newLastIndex } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        592
      ],
      "id": "6f0eda86-5559-46c3-92be-ae6d45c630ba",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20f49b71-d222-4f5e-92bc-0edaf23ea9aa",
              "leftValue": "={{ $json[\"Код строительного ресурса\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "af83ecfd-7bf7-43e0-94d8-948a47f5ee3d",
              "leftValue": "={{ $json[\"Наименование строительного ресурса\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "5d158dd6-45f3-4bcc-9e7b-ee3c9c17ce6c",
      "name": "Filter3"
    },
    {
      "parameters": {
        "jsCode": "// Получаем стартовый индекс из поля \"№ п/п\" первого входного элемента\nconst startIndex = parseInt($input.first().json[\"№ п/п\"], 10) || 1;\n\nconst grouped = [];\n\nfor (let i = 0; i < items.length; i += 3) {\n  const group = items.slice(i, i + 3).map((item, idx) => ({\n    ...item.json,\n    uniqueIndex: startIndex + i + idx // начинаем с \"№ п/п\"\n  }));\n\n  grouped.push({ json: { groupId: `group_${i}-${i + 3}`, originalRows: group } });\n}\n\n// Обновлённый индекс для последующего использования\nconst newLastIndex = startIndex + items.length;\nreturn [...grouped, { json: { LastIndex: newLastIndex } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "48b8ac4a-f709-4a19-8442-5d7cffaf5d70",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        0
      ],
      "id": "d4d8cc10-6178-421b-9ddb-091700c5943c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        32
      ],
      "id": "aa55ccc5-ae2a-428a-b6c3-f9899babf7cb",
      "name": "Wait1",
      "webhookId": "c6558959-90dd-4c1c-87f6-aeec13541a1a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://0dfd91a7db0b.ngrok-free.app/collect_offers",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.originalRows[0][\"Наименование строительного ресурса\"] }}\",\n  \"code\": \"{{ $json.originalRows[0][\"Код строительного ресурса\"] }}\",\n  \"weight\": \"{{ $json.originalRows[0][\"Единица измерения\"] }}\",\n  \"number\": \"{{ $json.originalRows[0].uniqueIndex }}\",\n  \"city\": \"{{ $json.originalRows[0][\"Ценовая зона\"] }}\",\n  \"monitor\": \"{{ $json.originalRows[0][\"Мониторинг проводил\"] }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        32
      ],
      "id": "79130420-c5e1-440d-8864-70dc053e7b62",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const startIndex = parseInt($input.first().json.results[0]['Индекс'], 10);\n\nitems[0].json.results = items[0].json.results.map((item, idx) => ({\n  ...item,\n  Индекс: String(startIndex + idx)\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "00a09a94-34cc-49dd-9bb0-95e34cfc8e69",
      "name": "Code5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1840,
        0
      ],
      "id": "e89bcdbc-17af-4268-9043-49b7c36db684",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg",
          "mode": "list",
          "cachedResultName": "rrrr",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2012048311,
          "mode": "list",
          "cachedResultName": "Материалы, изделия, конструкции",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit#gid=2012048311"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "id": "afc2c3d9-b5c8-4bad-8d00-a4ae04b51f70",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k47qOY1c8A4DNI7r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg",
          "mode": "list",
          "cachedResultName": "rrrr",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2012048311,
          "mode": "list",
          "cachedResultName": "Материалы, изделия, конструкции",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit#gid=2012048311"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Наименование ресурса по прейскуранту": "={{ $json.results[\"Наименование ресурса по прейскуранту\"] }}",
            "ИНН поставщика/ производителя": "={{ $json.results[\"ИНН поставщика/ производителя\"] }}",
            "Наименование поставщика/ производителя": "={{ $json.results[\"Наименование поставщика/ производителя\"] }}",
            "Адрес поставщика/производителя/склада (место отгрузки)": "={{ $json.results[\"Адрес поставщика/производителя/склада (место отгрузки)\"] }}",
            "Электронная почта поставщика/производителя": "={{ $json.results[\"Электронная почта поставщика/производителя\"] }}",
            "Телефон поставщика/производителя": "={{ $json.results[\"Телефон поставщика/производителя\"] }}",
            "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя": "={{ $json.results[\"Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя\"] }}",
            "Прейскурант": "={{ $json.results[\"Прейскурант\"] }}",
            "№ п/п": "={{ $json.results[\"Индекс\"] }}",
            "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.": "={{ $json.results[\"Ценовое предложение, с НДС, руб.\"] }}",
            "Примечание": "={{ $json.results[\"Формула\"] }}",
            "row_number": 0,
            "Ценовое предложение, с НДС, руб.": "={{ $json.results['Ценовое предложение, с НДС, руб.'] }}"
          },
          "matchingColumns": [
            "№ п/п"
          ],
          "schema": [
            {
              "id": "№ п/п",
              "displayName": "№ п/п",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "№ карточки",
              "displayName": "№ карточки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ценовая зона",
              "displayName": "Ценовая зона",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Мониторинг проводил",
              "displayName": "Мониторинг проводил",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Код строительного ресурса",
              "displayName": "Код строительного ресурса",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Наименование строительного ресурса",
              "displayName": "Наименование строительного ресурса",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Единица измерения",
              "displayName": "Единица измерения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ресурс не представлен на территории субъекта РФ",
              "displayName": "Ресурс не представлен на территории субъекта РФ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Наименование ресурса по прейскуранту",
              "displayName": "Наименование ресурса по прейскуранту",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ценовое предложение, с НДС, руб.",
              "displayName": "Ценовое предложение, с НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ставка НДС",
              "displayName": "Ставка НДС",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ценовое предложение, без НДС, руб.",
              "displayName": "Ценовое предложение, без НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ИНН поставщика/ производителя",
              "displayName": "ИНН поставщика/ производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Наименование поставщика/ производителя",
              "displayName": "Наименование поставщика/ производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Транспортные расходы учтены в ценовом предложении",
              "displayName": "Транспортные расходы учтены в ценовом предложении",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Фактический адрес поставщика/производителя/склада (место отгрузки)",
              "displayName": "Фактический адрес поставщика/производителя/склада (место отгрузки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Адрес поставщика/производителя/склада (место отгрузки)",
              "displayName": "Адрес поставщика/производителя/склада (место отгрузки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Электронная почта поставщика/производителя",
              "displayName": "Электронная почта поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Телефон поставщика/производителя",
              "displayName": "Телефон поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя",
              "displayName": "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Единица измерения по прейскуранту",
              "displayName": "Единица измерения по прейскуранту",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.",
              "displayName": "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Масса брутто за единицу измерения по прейскуранту, кг ",
              "displayName": "Масса брутто за единицу измерения по прейскуранту, кг ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Цена зафиксирована на дату\n  ",
              "displayName": "Цена зафиксирована на дату\n  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата окончания действия коммерческого предложения",
              "displayName": "Дата окончания действия коммерческого предложения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Примечание",
              "displayName": "Примечание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Транспортные расходы, руб./ед. изм.",
              "displayName": "Транспортные расходы, руб./ед. изм.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Доставка внутри субъекта Российской Федерации",
              "displayName": "Доставка внутри субъекта Российской Федерации",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Прейскурант",
              "displayName": "Прейскурант",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2480,
        0
      ],
      "id": "449c7438-e664-41c9-8681-130f1d33afc9",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k47qOY1c8A4DNI7r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg",
          "mode": "list",
          "cachedResultName": "rrrr",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2012048311,
          "mode": "list",
          "cachedResultName": "Материалы, изделия, конструкции",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit#gid=2012048311"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -224,
        272
      ],
      "id": "82ee9f3a-0d5a-4464-964d-5d997733a2e8",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k47qOY1c8A4DNI7r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg",
          "mode": "list",
          "cachedResultName": "rrrr",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2012048311,
          "mode": "list",
          "cachedResultName": "Материалы, изделия, конструкции",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQp0mrmmEDszvrLwVtdW6Hoa80CQ_5fZppKkwhZyrVg/edit#gid=2012048311"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Наименование ресурса по прейскуранту": "={{ $json.results[\"Наименование ресурса по прейскуранту\"] }}",
            "Ценовое предложение, с НДС, руб.": "={{ $json.results[\"Ценовое предложение, с НДС, руб.\"] }}",
            "ИНН поставщика/ производителя": "={{ $json.results[\"ИНН поставщика/ производителя\"] }}",
            "Наименование поставщика/ производителя": "={{ $json.results[\"Наименование поставщика/ производителя\"] }}",
            "Адрес поставщика/производителя/склада (место отгрузки)": "={{ $json.results[\"Адрес поставщика/производителя/склада (место отгрузки)\"] }}",
            "Электронная почта поставщика/производителя": "={{ $json.results[\"Электронная почта поставщика/производителя\"] }}",
            "Телефон поставщика/производителя": "={{ $json.results[\"Телефон поставщика/производителя\"] }}",
            "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя": "={{ $json.results[\"Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя\"] }}",
            "Прейскурант": "={{ $json.results[\"Прейскурант\"] }}",
            "№ п/п": "={{ $json.results[\"Индекс\"] }}",
            "Примечание": "={{ $json.results[\"Формула\"] }}",
            "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.": "={{ $json.results['Ценовое предложение, с НДС, руб.'] }}"
          },
          "matchingColumns": [
            "№ п/п"
          ],
          "schema": [
            {
              "id": "№ п/п",
              "displayName": "№ п/п",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "№ карточки",
              "displayName": "№ карточки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ценовая зона",
              "displayName": "Ценовая зона",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Код строительного ресурса",
              "displayName": "Код строительного ресурса",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Наименование строительного ресурса",
              "displayName": "Наименование строительного ресурса",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Единица измерения",
              "displayName": "Единица измерения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ресурс не представлен на территории субъекта РФ",
              "displayName": "Ресурс не представлен на территории субъекта РФ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Наименование ресурса по прейскуранту",
              "displayName": "Наименование ресурса по прейскуранту",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ценовое предложение, с НДС, руб.",
              "displayName": "Ценовое предложение, с НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ставка НДС",
              "displayName": "Ставка НДС",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ценовое предложение, без НДС, руб.",
              "displayName": "Ценовое предложение, без НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ИНН поставщика/ производителя",
              "displayName": "ИНН поставщика/ производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Наименование поставщика/ производителя",
              "displayName": "Наименование поставщика/ производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Транспортные расходы учтены в ценовом предложении",
              "displayName": "Транспортные расходы учтены в ценовом предложении",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Фактический адрес поставщика/производителя/склада (место отгрузки)",
              "displayName": "Фактический адрес поставщика/производителя/склада (место отгрузки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Адрес поставщика/производителя/склада (место отгрузки)",
              "displayName": "Адрес поставщика/производителя/склада (место отгрузки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Электронная почта поставщика/производителя",
              "displayName": "Электронная почта поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Телефон поставщика/производителя",
              "displayName": "Телефон поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя",
              "displayName": "Адрес сайта в информационно-телекоммуникационной сети «Интернет» поставщика/производителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Единица измерения по прейскуранту",
              "displayName": "Единица измерения по прейскуранту",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.",
              "displayName": "Текущая отпускная цена за ед. изм. по прейскуранту с НДС, руб.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Масса брутто за единицу измерения по прейскуранту, кг ",
              "displayName": "Масса брутто за единицу измерения по прейскуранту, кг ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Цена зафиксирована на дату\n  ",
              "displayName": "Цена зафиксирована на дату\n  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата окончания действия коммерческого предложения",
              "displayName": "Дата окончания действия коммерческого предложения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Примечание",
              "displayName": "Примечание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Транспортные расходы, руб./ед. изм.",
              "displayName": "Транспортные расходы, руб./ед. изм.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Доставка внутри субъекта Российской Федерации",
              "displayName": "Доставка внутри субъекта Российской Федерации",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Прейскурант",
              "displayName": "Прейскурант",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2048,
        608
      ],
      "id": "245e1fd3-e709-41e0-acc1-d46ded68b45a",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k47qOY1c8A4DNI7r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2192,
        0
      ],
      "id": "f3031a03-f9bf-4ed7-a365-75c95ef6213a",
      "name": "Wait2",
      "webhookId": "a7256a65-aef4-403d-b4cf-4b46717faf0a"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b3a54bb-e20f-4446-a642-d947b8d3724f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a1d5cb37de93a845889106e932c18f844a488ca0ede3c76e6347548c6c853f2"
  },
  "id": "9TQDvO2ida53JWyN",
  "tags": []
}